body {background-color: rgb(255, 255, 0);}

#titular{color:rgba(12, 171, 147, 0.995);font-size: 100px;}

.elemento{color:rgb(249, 8, 8);}
.margenes{margin:50px 20px 9px 70px;}

*{border:1px solid red;font-family: 'Delicious Handrawn', cursive;}

.letragrande {font-size: 70px; color: blue;}

.div { background-color: green; color: azure;}
#segundafoto {width: 80vh;}

.flex-container{
    display:flex; 
    background-color: blueviolet;
    flex-direction: row;
    justify-content:space-around;

}

div{
    font-size: 50px;
    margin: 10px;
    padding: 20px;
}

@media screen and (max-width: 992px) {
    body {background-color: aqua;
    color: pink;
}
    
}

@media screen and (max-width: 600px) {
    body {
      background-color: olive;
      color: white;

    }
    img {display: None}

    div h2 {
        background-color: rgb(179, 161, 148)
    }
}
