body {background-color: rgb(255, 255, 0);}

#titular{color:rgba(12, 171, 147, 0.995);font-size: 100px;}

.elemento{color:rgb(249, 8, 8);}
.margenes{margin:50px 20px 9px 70px;}

*{border:1px solid red;font-family: 'Delicious Handrawn', cursive;}

.letragrande {font-size: 70px; color: blue;}

.div {background-color: green; color: azure;}
#segundafoto {width: 80vh;}